.dot {
  height: 15px;
  width: 15px;
  /* background-color: #3E8DF3; */
  border-radius: 50%;
  display: inline-block;
}

.patient-card {
    /* margin: 0px 15px 0px 0px; */
}

.patient-card :hover {
    box-shadow: #3E8DF3;
}

.patient-card-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.patient-card-value {
    display: flex;
    align-items: baseline;
}

.patient-card-percentage {
    display: flex;
    align-items: baseline;
}

.patient-card-arrow {
    padding-right: 10px;
}

.patient-card-metric-info {
    display: flex;
    align-items: center;
    color: gray;
}

.patient-card-metric {
    padding-right: 5px;
    
}

h5 {
    margin-bottom: 0;
}

