@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  background-color: #f8f8f8;
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: #f8f8f8;
  font-family: 'Roboto', sans-serif;
}

h6 {
  font-size: 12px;
}

#main {
  /* padding: 25px; */
}

.card {
  margin: 25px;
}

.card-top-row {
  display: flex;
  justify-content: space-between;
}

.card-title {
  text-align: left;
}

.card-filters {
  display: flex;
  float: right;
}

.card-filter {
  margin: 0 10px;
}

.watchlist-card {
  margin-right: 15px;
}

#search {
 width: 180px;
}

#filter {
  width: 120px;
}

.filter {
  min-width: 180px;
}

.ant-select-selection-item {
  text-align: left;
}

.subtitle {
  display: flex;
  float: left;
}

.patient-cards {
  padding: 15px 0%;
}

.ant-card-head-title {
  text-align: left;
}

#patient {

}

.patient-header {

}

.patient-header-name {
  display: flex;
  float: left;
  align-items: baseline;
}

.patient-header-summary {
  margin-top: 40px;
}

.patient-header-summary-profile {

}

.patient-header-summary-profile-row {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: gray;
}

.patient-fitbit-row, .patient-promis-row {
  display: flex;
  float: left;
  justify-content: space-between;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
